.section_single_projects {
    border: 3px solid rgb(64, 74, 208);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.section_single_projects img {
    width: 100%;
    height: 100%;
    /* position: relative;*/
    object-fit: cover;
}

.project_contents {
    width: 100%;
    height: 100%;
    background: #1c0800dd;
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(100%);
    transition: all 250ms linear;
}
.project_icon{
    position: absolute;
    bottom: 4%;
    left: 2%;
}

@media screen and (min-width: 1024px) {
    .project_description {
        text-align: justify;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 12%;
        font-size: 22px;
        min-height: 65%;
    }
    .project_icon {
        font-size: 35px;
    }
}
@media screen and (min-width: 768px) and (max-width:1024px) {
    .project_description {
        text-align: justify;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 8%;
        font-size: 16px;
    }
    .project_icon {
        font-size: 28px;
    }
}
@media screen and (min-width: 524px) and (max-width:768px) {
    .project_description {
        text-align: justify;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 10%;
        font-size: 11px;
    }
    .project_icon {
        font-size: 18px;
    }
}
@media screen and (max-width:524px) {
    .project_description {
        text-align: justify;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 4%;
        font-size: 9px;
    }
    .project_icon {
        font-size: 12px;
    }
}

.section_single_projects:hover .project_contents {
    transform: translateY(0);
}