#main {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 85px;
  min-height: 87vh;
}

.navbar {
  z-index: 1000;
  background-color: rgba(93, 61, 61, 0.765);
}

.switching-color {
  color: #fbbf24 !important;
}

.nav-link,
.navbar-heading {
  font-size: larger !important;
}

.navbar-toggler {
  border-color: rgb(42, 210, 210) !important;
}

@media screen and (max-width:586px) {
  .nav-link {
    margin-left: 55px;
  }
  .my_btn {
    padding-left: 22px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width:586px) and (max-width: 991px) {
  .nav-link {
    margin-left: 55px;
  }

  .my_btn {
    padding-left: 42px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width:992px) {
  .my_btn {
    padding-left: 62px;
    padding-right: 52px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: larger;
    margin-bottom: 35px;
  }
}


.my_btn {
  border: 2px solid;
  border-radius: 0px 16px 0px 16px;
  border-color: #1d25d8d6;
  color: white;
  text-decoration: none;
}

a{
  text-decoration: none !important;
}
table,tr,td{
  border:1px solid white !important;
  background-color: black !important;
  color: white !important;
  a{
    color:rgb(255, 255, 255) !important;
  }
}
td{
  text-wrap: pretty;
}
