@media screen and (max-width:576px) {
    #Hero {
      font-size: 28px !important;
    }
}
@media screen and (min-width:576px)and (max-width:762px) {
    #Hero {
      font-size: 32px !important;
    }
}
@media screen and (min-width:762px)and (max-width:991px) {
    #Hero {
      font-size: 40px !important;
    }
}
@media screen and (min-width:991px) {
    #Hero {
      font-size: 70px !important;
    }
}